<div class="footer">
  <div class="foot-content">
    <ul>
      <li>
        <span class="line"></span>
        <img src="../attachment/7day_60.gif" alt="7天保证">
        <span class="name">7天保证</span>
      </li>
      <li>
        <span class="line"></span>
        <img src="../attachment/pz_60.gif" alt="品质承诺">
        <span class="name">品质承诺</span>
      </li>
      <li>
        <span class="line"></span>
        <img src="../attachment/psbf_60.gif" alt="破损补寄">
        <span class="name">破损补寄</span>
      </li>
      <li>
        <span class="line"></span>
        <img src="../attachment/jswl_60.gif" alt="急速物流">
        <span class="name">急速物流</span>
      </li>
    </ul>
  </div>
</div>