<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>header</title>

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/product.css">
  <link rel="stylesheet" href="../css/main2.css">
</head>
<body>

<div class="topbar">
  <div class="topbar-container">
    <div class="topbar-left">
      <?php if (empty($_SESSION['user']['uid'])): ?>
      <span><a href="./index.php">Hi,欢迎光临</a></span>
      <a href="./index.php?c=user&m=login" class="topbar-link">登录</a>
      <a href="./index.php?c=user&m=register" class="topbar-link">免费注册</a>
      <?php else: ?>
      <span>欢迎回来:<a href="./index.php?c=user" class="topbar-link"
                    style="color: palevioletred"> <?= $_SESSION['user']['name'] ?></a></span>
      <!--<a href="./index.php?c=user" class="topbar-link" style="color: palevioletred">我的会员中心</a>-->
      <a href="./index.php?c=user&m=doLogout" class="topbar-link">注销</a>
      <?php endif ?>


    </div>
    <div class="topbar-right">
      <dl class="topbar-list">
        <dt>
          <a href="./index.php?c=user&m=orderList">我的订单</a>

        </dt>
        <dd>
          <ul>
            <li><a href="./index.php?c=user&m=orderList&status=1">待付款订单</a></li>
            <li><a href="./index.php?c=user&m=orderList&status=2">已付款订单</a></li>
            <li><a href="./index.php?c=user&m=orderList&status=6">已完成订单</a></li>
          </ul>
        </dd>
      </dl>
      <!--<dl class="topbar-list">-->
      <!--<dt>-->
      <!--<a href="">我的收藏</a>-->


      <!--</dt>-->
      <!--</dl>-->
      <!--<dl class="topbar-list">-->
      <!--<dt>-->
      <!--<a href="">客户服务</a>-->

      <!--</dt>-->


      <!--</dl>-->

    </div>
  </div>


</div>


<!-- 右侧边栏 -->
<!-- TODO -->
<div class="right-sidebar">
  <div class="right-sidebar-content">
    <div class="right-sidebar-user">
      <a href="./index.php?c=user">
        <div class="avatar">
          <?php if(empty($_SESSION['user']['icon'])): ?>
          <img src="../attachment/default_user_portrait.gif" alt="avatar">
          <?php else: ?>
          <img src="<?= imgUrl($_SESSION['user']['icon']) ?>" alt="avatar">
          <?php endif ?>

      </div>
        <p>我</p></a>
    </div>
  </div>
</div>

