<div class="search-bar">
  <div class="search-container">
    <div class="site-logo">
      <img src="logo.jpg" alt="logo">
    </div>
    <div class="search-tool">

      <form action="../goods/category.html" method="get">
        <input class="search" type="text" value="" name="search_txt" placeholder="搜一下">
        <div class="search-submit-div">
          <input type="button" value="搜索" class="search-submit">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="nav-layout">
  <div class="wrapper">
    <div class="all-category">
      <div class="title">
        <i></i>
        <h3>
          <a href="">所有分类</a>
        </h3>
      </div>
      <div class="head-class" id="head-class">
        <div class="class-content">
          <div class="category">
            <ul class="menu">

              <?php echo $this->base->nav() ?>

              <!--<li class="item">-->

              <!--<div class="category-item">-->

              <!--<h4><a href=""> </a></h4>-->

              <!--</div>-->

              <!--<div class="sub-category">-->
              <!--<div class="sub-category-item">-->

              <!--<dl>-->
              <!--<dt>-->
              <!--<a href="">二级</a>-->
              <!--</dt>-->
              <!--<dd>-->
              <!--<a href="">三级分类11</a>-->
              <!--</dd>-->
              <!--</dl>-->


              <!--<dl>-->
              <!--<dt>-->
              <!--<a href="">二级分类2</a>-->
              <!--</dt>-->
              <!--<dd>-->
              <!--<a href="">三级分类21</a>-->

              <!--</dd>-->
              <!--</dl>-->
              <!--</div>-->
              <!--</div>-->
              <!--</li>-->


            </ul>
          </div>
        </div>
      </div>

    </div>
    <ul class="site-menu">

    </ul>
  </div>
</div>