<?php $this->header() ?>
<?php $this->nav() ?>

<!-- 限时抢购 -->


<div class="limit-time-nav">
  <div class="limit-time-content">
    <div class="limit-time-img">
      <a href="">
        <img src="../../../attachment/lt-ico.png" alt="">
      </a>

    </div>
    <div class="limit-time-nav">
      <ul>
        <!--<?php-->
        <!--$i=0;-->
        <!--foreach($data as $k => $v ){-->
        <!--if($i==5){-->
        <!--break;-->
        <!--}elseif($v['sale']==1){-->
        <!--echo '<li> <a href=""><img src="'. imgUrl($v['icon']).'"></a></li>';-->
        <!--}-->
        <!--}-->
        <!--?>-->
        <?php foreach($saleGoods as $k => $v): ?>
        <li>
          <a href="./index.php?c=goods&m=detail&id=<?= $v['id']?>">
            <img src="<?= !empty($v['icon'])?imgUrl($v['icon']):'../../../attachment/lt-item.png' ?>" alt="">
          </a>
        </li>
        <?php endforeach ?>

      </ul>
    </div>
  </div>
</div>


<!-- for-sale 模块-->
<div class="forsale">
  <div class="forsale-content">
    <div class="forsale-nav">
      <ul>
        <li>
          <a href="">新品上架</a>
        </li>
        <li>
          <a href="">热卖商品</a>
        </li>
        <li>
          <a href="">疯狂抢购</a>
        </li>
        <li>
          <a href="">猜您喜欢</a>
        </li>
        <li>
          <a href="">热评商品</a>
        </li>
      </ul>
    </div>

    <div class="forsale-item">
      <ul>

        <?php foreach($hotGoods as $k => $v): ?>


        <li>
          <dl>
            <dt>
              <a href=""><?= $v['goodsName'] ?>
              </a>
            </dt>
            <dd class="goods-thumb">
              <a href=""><img src="<?= !empty($v['icon'])?imgUrl($v['icon']):'../../../attachment/lt-item.png' ?>"
                              alt="商品图片"></a>
            </dd>
            <dd class="goods-price">商城价:
              <em> <?= $v['price'] ?> 元</em>
            </dd>
          </dl>
        </li>
        <?php endforeach ?>


      </ul>
    </div>
    <div class="forsale-news">

    </div>
  </div>

</div>


<!-- 主题模块 -->
<?php $i = 1 ?>
<?php foreach($category as $key => $v ): ?>

<?php if($v['deep']==1): ?>
<div class="main-content">
  <div class="left-content">
    <div class="left-title">
      <div class="title">
        <span><?= $i ?>F</span>
        <h2><?= $v['name']?></h2>
      </div>
    </div>


    <div class="left-category">
      <ul>
        <?php foreach ($category as $key => $value): ?>
        <?php if($value['deep']==2&&$value['pid']==$v['id']): ?>
        <li><a href=""><?= $value['goodsName']?></a></li>
        <?php endif ?>
        <?php endforeach ?>

      </ul>

    </div>
    <div class="left-advs">
      <!--<div class="advs">-->
      <!--<ul>-->
      <!--<li>-->
      <!--<a href=""><img src="../../../attachment/lt-ico.png" alt="图片1"></a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href=""><img src="../../../attachment/lt-ico.png" alt="图片2"></a>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</div>-->
    </div>
    <div class="hot-sale">
      <h2>热卖推荐</h2>
      <ul>
        <?php foreach($data2[$v['id']] as $key1 => $value1): ?>

        <?php if(is_array($value1)): ?>
        <li><a href=""><?= $value1['goodsName'] ?></a></li>
        <?php endif ?>

        <?php endforeach ?>
      </ul>
    </div>

  </div>


  <div class="right-content">
    <div class="right-more">
      <p><a href="">更多</a></p>
    </div>
    <div class="right-title">
      <p>商品推荐</p>
    </div>
    <div class="right-slide-layout">
      <div class="right-slide-content">

      </div>
    </div>
    <div class="right-goods-lists-layout ">
      <ul>
        <?php foreach($data as $k => $v): ?>
        <?php foreach($v as $key => $value): ?>

        <li>
          <dl>
            <dt>
              <a href=""><?= $value['goodsName'] ?>
              </a>
            </dt>
            <dd class="goods-thumb">

              <a href=""><img
                  src=" <?= !empty($value['icon'])?imgUrl($value['icon']):'../../../attachment/lt-item.png' ?>"
                  alt="商品图片"></a>

            </dd>
            <dd class="goods-price">商城价:
              <em> <?= $value['price'] ?> 元</em>
            </dd>
          </dl>
        </li>
        <?php endforeach ?>
        <?php endforeach ?>

      </ul>
    </div>
  </div>


</div>
<?php $i++ ?>
<?php endif?>
<?php endforeach ?>


<?php $this->footer() ?>
<?php $this->contact() ?>





