<?php $this->header() ?>
<?php $this->nav() ?>

<!-- 限时抢购 -->


<div class="limit-time-nav">
  <div class="limit-time-content">
    <div class="limit-time-img">
      <a href="">
        <img src="../../../attachment/lt-ico.png" alt="">
      </a>

    </div>
    <div class="limit-time-nav">
      <ul>
        <!--<?php-->
        <!--$i=0;-->
        <!--foreach($data as $k => $v ){-->
        <!--if($i==5){-->
        <!--break;-->
        <!--}elseif($v['sale']==1){-->
        <!--echo '<li> <a href=""><img src="'. imgUrl($v['icon']).'"></a></li>';-->
        <!--}-->
        <!--}-->
        <!--?>-->
        <?php foreach($saleGoods as $k => $v): ?>
        <li>
          <a href="">
            <img src="<?= imgUrl($v['icon']) ?>" alt="">
          </a>
        </li>
        <?php endforeach ?>

      </ul>
    </div>
  </div>
</div>


<!-- for-sale 模块-->
<div class="forsale">
  <div class="forsale-content">
    <div class="forsale-nav">
      <ul>
        <li>
          <a href="">新品上架</a>
        </li>
        <li>
          <a href="">热卖商品</a>
        </li>
        <li>
          <a href="">疯狂抢购</a>
        </li>
        <li>
          <a href="">猜您喜欢</a>
        </li>
        <li>
          <a href="">热评商品</a>
        </li>
      </ul>
    </div>

    <div class="forsale-item">
      <ul>

        <?php foreach($hotGoods as $k => $v): ?>


        <li>
          <dl>
            <dt>
              <a href=""><?= $v['name'] ?>
              </a>
            </dt>
            <dd class="goods-thumb">
              <a href=""><img src="" alt="商品图片"></a>
            </dd>
            <dd class="goods-price">商城价:
              <em> <?= $v['price'] ?> 元</em>
            </dd>
          </dl>
        </li>
        <?php endforeach ?>


      </ul>
    </div>
    <div class="forsale-news">

    </div>
  </div>

</div>


<!-- 主题模块 -->

<div class="main-content">
  <div class="left-content">
    <div class="left-title">
      <div class="title">
        <span>1F</span>
        <h2>食品生鲜</h2>
      </div>
    </div>
    <div class="left-category">
      <ul>
        <li><a href="">二级分类1</a></li>
        <li><a href="">二级分类1</a></li>
        <li><a href="">二级分类1</a></li>
        <li><a href="">二级分类1</a></li>

      </ul>

    </div>
    <div class="left-advs">
      <div class="advs">
        <ul>
          <li>
            <a href=""><img src="../../../attachment/lt-ico.png" alt="图片1"></a>
          </li>
          <li>
            <a href=""><img src="../../../attachment/lt-ico.png" alt="图片2"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="hot-sale">
      <h2>热卖推荐</h2>
      <ul>
        <li><a href="">商品1</a></li>
        <li><a href="">商品2</a></li>
        <li><a href="">商品3</a></li>
        <li><a href="">商品4</a></li>

      </ul>
    </div>

  </div>
  <div class="right-content">
    <div class="right-more">
      <p><a href="">更多</a></p>
    </div>
    <div class="right-title">
      <p>商品推荐</p>
    </div>
    <div class="right-slide-layout">
      <div class="right-slide-content">

      </div>
    </div>
    <div class="right-goods-lists-layout ">
      <ul>
        <?php foreach($data as $k => $v): ?>
        <?php foreach($v as $key => $value): ?>

        <li>
          <dl>
            <dt>
              <a href=""><?= $value['name'] ?>
              </a>
            </dt>
            <dd class="goods-thumb">
              <a href=""><img src="../../../attachment/lt-item.png" alt="商品图片"></a>
            </dd>
            <dd class="goods-price">商城价:
              <em> <?= $value['price'] ?> 元</em>
            </dd>
          </dl>
        </li>
        <?php endforeach ?>
        <?php endforeach ?>

      </ul>
    </div>
  </div>

</div>

<?php $this->footer() ?>
<?php $this->contact() ?>





