<!-- 商品详情页-->
<?php $this->header() ?>
<?php $this->nav() ?>

<link rel="stylesheet" href="../css/product.css">

<div class="product-container">
  <div class="product-detail">
    <!--商品图片-->
    <div class="product-detail-pic">
      <div class="pic-container">
        <div class="pics">
          <?php foreach($data['icon'] as $k => $v ): ?>
          <?php if($v['face']==1): ?>
          <img src="<?= imgUrl($v['icon']) ?>" alt="big pic">
          <?php endif ?>
          <?php endforeach ?>
        </div>
      </div>
      <div class="controller-container">
        <div class="controller">
          <ul>
      <!--TODO 商品 多图片上传-->
            <!--goodsModel 89行 需要改为返回多数组图片 然后遍历-->
            <?php foreach($data['icon'] as $k => $v ): ?>

            <img src="<?= imgUrl($v['icon']) ?>" alt="big pic"
                 style="height: 60px;width: 60px;display: inline-block;margin-right: 5px">

            <?php endforeach ?>

          </ul>
        </div>
      </div>
    </div>
    <!--商品基本信息-->
    <div class="product-detail-summary">
      <div class="name">
        <h1><?= $data['name'] ?></h1>
      </div>

      <div class="meta">
        <dl>
          <dt>市 场 价:</dt>
          <dd class="cost-price">
            <strong><?= $data['price'] ?></strong>
          </dd>
        </dl>
        <dl>
          <dt>商 城 价:</dt>
          <dd class="price">
            <strong><?= $data['price'] ?></strong>
          </dd>
        </dl>
        <dl class="rate">
          <dt>商品评分: </dt>
          <dd>
            <?= $data['rate'] ?>
          </dd>
        </dl>
      </div>

      <div class="key">
        正品保证
      </div>

      <div class="logistics">
        <dl class="freight">
          <dd class="freight-box">
            <div class="freight-select">
              <div class="content">
                <strong><?= ($data['stock'] > 0)?'有货':'售空' ?></strong>
                <span>快递: 5元起</span>
              </div>
            </div>
          </dd>
        </dl>
      </div>

      <div class="buy">
        <form action="./index.php?c=user&m=addCart" class="" method="post" name="addtocart">
          <input type="hidden" name="gid" value="<?= $data['id'] ?>">
          数量: <input type="text" name="quantity" class="quantity" value="1">
          <input type="submit" value="添加购物车" class="add-to-cart">
          <div>
            <a href="">
              立即购买
            </a>
          </div>
        </form>
      </div>
    </div>

  </div>
  <div class="product-content">
    <div class="main-content">
      <div class="product-nav">
        <div class="product-nav-title">
          <ul class="categorymenu">
            <li><a href="">商品详情</a></li>
          </ul>
        </div>
      </div>
      <div class="product-info">
        <div class="product-info-content">
          <!--商品参数-->

          <!--<ul class="product-attr">-->
            <!--<li>1</li>-->
            <!--<li>12</li>-->
            <!--<li>12</li>-->
            <!--<li>13</li>-->
            <!--<li>14</li>-->
            <!--<li>15</li>-->
            <!--<li>16</li>-->
            <!--<li>17</li>-->
            <!--<li>18</li>-->
            <!--<li>19</li>-->
          <!--</ul>-->

          <!--商品介绍-->
          <div class="product-info-details">
            <div>
              <?= $data['desc'] ?>
            </div>
          </div>
        </div>
      </div>
      <!--TODO 商品评论-->
      <div class="product-comment">

      </div>
    </div>

  </div>
</div>

<?php $this->footer() ?>
<?php $this->contact() ?>
