<?php $this->header() ?>
<?php $this->nav() ?>
<?php $this->userIndex() ?>
<link rel="stylesheet" href="../css/main2.css">

<div class="member-right-container" xmlns="http://www.w3.org/1999/html">
  <div class="member-right-content">
    <div class="tabmenu">
      <ul>
        <li><a href="">购物车</a></li>
      </ul>
    </div>
    <!--订单列表-->
    <div class="page-show-container">
      <div class="order-lists">
        <div class="content">
          <!--TODO 根据购物车ID遍历 -->

          <div class="order-list-items">
            <!--订单号-->
            <!--<a href="">-->
            <form action="./index.php?c=user&m=ordercreate" method="post" name="cart_buy">

              <!--商品信息 根据购物车商品数量遍历-->
              <?php foreach($data as $k => $v): ?>
              <div class="item-infos">
                <div class="item-infos-img">
                  <img src="<?= imgUrl($v['icon']) ?>" alt="">
                </div>
                <div class="item-infos-inner">
                  <div class="item-title">
                    <!--商品链接-->
                    <a href="./index.php?c=goods&m=detail&id=<?=$v['gid']?>"><?= strip_tags($v['name']) ?></a>
                  </div>
                  <div class="item-subtitle">
                    <!--TODO 需要增加简短描述字段-->
                  </div>
                </div>
                <div class="item-infos-price">
                  <!--TODO 商品价格-->
                  <span class="marketprice " id="marketprice">
                      &yen;<?= strip_tags($v['price']) ?>
                  </span>

                  <p>数量:</p>
                  <!--TODO name=商品id value=数量-->
                  <!--<em title="减少数量" id="count_sub" value='jian' class="br" onclick="jian()">-</em>-->
                  <input type="text" id="quantity" name="<?= strip_tags($v['gid']) ?>"
                         value="<?= strip_tags($v['quantity']) ?>">
                  <!--<em	title="增加数量" id="count_sub" value='jia' class="bl" onclick="jia()">+</em>-->
                  <!--TODO 删除该购物车该商品id $v['id']-->

                  <a href="./index.php?c=user&m=doDelCart&gid=<?= strip_tags($v['gid']) ?>">
                    <div class="doDel">
                      删除
                    </div>
                  </a>
                </div>
              </div>
              <!--<?php-->

              <!--$xj = $v['price'] * $v['quantity'];-->

              <!--$sum += $xj;-->
              <!--$count += $v['quantity'];-->
              <!--?>-->
              <?php endforeach ?>


              <!--订单统计-->
              <!--<div class="item-infos-total">-->
              <!--<span class="status">-->
              <!--共: <?= $count ?>件商品 实付:-->
              <!--<span>&yen;<?= $sum ?></span>-->

              <!--</span>-->
              <!--</div>-->

              <!--下订单-->
              <div class="delete-order">

                <!--<div class="doDel">-->
                <span>
                  <?php if(empty($data)): ?>
                  <a href="./index.php">我饿了,请去选一点来喂我</a>
                  <?php else: ?>
                   <input type="submit" value="去购买" class="order-submit">
                  <?php endif ?>
                  <!--</div>-->
                </span>

              </div>

            </form>
            <!--</a>-->
          </div>


        </div>
      </div>
    </div>

    <!--订单页数-->
    <!--<div class="page-num-container">-->
    <!--<ul>-->
    <!--<li><a href="">1</a></li>-->
    <!--<li><a href="">2</a></li>-->
    <!--</ul>-->
    <!--</div>-->

  </div>
</div>
</div>
</div>
<!--<script>-->
<!--var mynum = document.getElementById('quantity');-->

<!--// 购买数量-减-->
<!--function jian()-->
<!--{-->

<!--// mynum.value  就是  PHP中对象名->属性名  js中对象名.属性名-->
<!--// alert(mynum.value);-->
<!--if(mynum.value > 0){-->
<!--mynum.value = mynum.value - 1;-->
<!--}-->

<!--if(mynum.value < 1){-->
<!--mynum.value = 1;-->
<!--}-->
<!--}-->


<!--// 购买数量-加-->
<!--function jia()-->
<!--{-->
<!--// js中 只有纯数字类型 才能相加, 其余用+ 都是拼接的意思-->
<!--// parseInt() 强制转换成 整型-->
<!--mynum.value = parseInt(mynum.value) + 1;-->
<!--// mynum.value = mynum.value + 1;-->
<!--}-->
<!--</script>-->

<?php $this->footer() ?>
<?php $this->contact() ?>
