<?php $this->header() ?>


<div class="nc-register-bg">
  <div class="nc-register-box">
    <div class="nc-register-layout">

      <!--左侧-->
      <div class="left">

        <div class="nc-register-mode">

          <ul class="tabs-nav">
            <li>
              <a class="tabulous_active">
                验证手机
              </a>
            </li>
          </ul>

          <div class="tabs-container" style="height: 387px;">
            <div class="tabs-content" style="position: absolute; top: 0;">
              <form action="./index.php?c=user&m=dovalidateMobilePwd" method="post" name="register" id="register_form"
                    class="nc-login-form">
                <input type="hidden" name="do" value="pwd">

                <dl>
                  <dt>手机号:</dt>
                  <dd>
                    <input type="text" class="text" name="mobile" value="<?= $data['mobile'] ?>">
                  </dd>
                </dl>

                <!--TODO 手机验证码-->
                <!--<div class="code-div"></div>-->
                <!--<div class="tiptext"></div>-->

                <dl>
                  <dt>验证码:</dt>
                  <dd>
                    <input type="text" class="text" name="yzm" placeholder="请输入验证码">
                  </dd>
                </dl>

                <dl>
                  <dt>验证码:</dt>
                  <dd>
                    <img src="index.php?c=user&m=yzm" style="
    top: 4px;
    position: absolute;
    height: 40px;
">
                  </dd>
                </dl>

                <div class="submit-div">
                  <div class="submit" style="text-align: center;line-height: 42px;">
                    <input type="submit" value="获取短信验证码">
                  </div>
                  <a href="./index.php?c=user&m=forgetPwd" class="account-login-link">忘记密码</a>
                </div>
              </form>
            </div>
          </div>

        </div>

      </div>

      <!--右侧-->
      <div class="right">
        <div class="register-after">
          <h4>重置密码</h4>
          <ol>
            <li class="ico">如果你忘记密码, 可以重置密码</li>
          </ol>
        </div>

      </div>
    </div>
  </div>
</div>


<?php $this->footer() ?>
<?php $this->contact() ?>
