<?php $this->header() ?>
<?php $this->userIndex() ?>

<link rel="stylesheet" href="../css/main2.css">

<div class="member-right-container">
  <div class="member-right-content">
    <div class="tabmenu">
      <ul>
        <li><a href="">订单详情</a></li>
      </ul>
    </div>
    <!--订单列表-->
    <div class="page-show-container">
      <div class="order-lists">
        <div class="content">
          <!--订单状态-->
          <div class="order-result list-group">
            <div class="order-status lists-list">
              <div class="list-inner">
                <!--TODO 插入数据-->
                <div class="title">交易完成</div>
                <div class="text">订单金额(含运费):30</div>
              </div>
            </div>
          </div>

          <!--物流信息-->
          <div class="list-group">
            <a href="">
              <div class="lists-list">
                <div class="list-inner">
                  <div class="text">快递公司:xx</div>
                  <div class="text">物流单号:xxxxxx</div>
                </div>
              </div>
            </a>
            <!--收货人信息-->
            <div class="lists-list">
              <div class="list-inner">
                <div class="text">收货人姓名 电话:</div>
                <div class="text">收货人地址:</div>
              </div>
            </div>
          </div>
        </div>
        <!--TODO 根据订单商品遍历 -->
        <div class="order-list-items list-group ">
          <!--订单号-->

          <!--商品信息 根据商品数量遍历-->
          <div class="item-infos order-details-goods">
            <div class="item-infos-img">
              <img src="" alt="">
            </div>
            <div class="item-infos-inner">
              <div class="item-title">
                青苹果
              </div>
              <div class="item-subtitle">
                300克
              </div>
            </div>
            <div class="item-infos-price">
              <!--TODO 商品价格-->
              <span class="marketprice">
                      &yen;13.8
                    <br>
                    x3
                  </span>
            </div>
          </div>

          <div class="item-infos order-details-goods">
            <div class="item-infos-img">
              <img src="" alt="">
            </div>
            <div class="item-infos-inner">
              <div class="item-title">
                青苹果
              </div>
              <div class="item-subtitle">
                300克
              </div>
            </div>
            <div class="item-infos-price">
              <!--TODO 商品价格-->
              <span class="marketprice">
                      &yen;13.8
                    <br>
                    x3
                  </span>
            </div>
          </div>

          <div class="item-infos order-details-goods">
            <div class="item-infos-img">
              <img src="" alt="">
            </div>
            <div class="item-infos-inner">
              <div class="item-title">
                青苹果
              </div>
              <div class="item-subtitle">
                300克
              </div>
            </div>
            <div class="item-infos-price">
              <!--TODO 商品价格-->
              <span class="marketprice">
                      &yen;13.8
                    <br>
                    x3
                  </span>
            </div>
          </div>

          <!--费用统计-->
          <div class="cell-group price-cell-group">
            <div class="cell">
              <div class="cell-label">商品小计</div>
              <div class="cell-info"></div>
              <div class="cell-remark">20元</div>
            </div>
            <div class="cell">
              <div class="cell-label">运费</div>
              <div class="cell-info"></div>
              <div class="cell-remark">5元</div>
            </div>
            <div class="cell">
              <div class="cell-label">合计</div>
              <div class="cell-info"></div>
              <div class="cell-remark mark-red">20元</div>
            </div>

          </div>

          <!--订单基本信息-->
          <div class="cell-group">
            <div class="cell">
              <div class="cell-label">订单编号</div>
              <div class="cell-info">3149013849028193</div>
            </div>
            <div class="cell">
              <div class="cell-label">创建时间</div>
              <div class="cell-info">2138321</div>
            </div>
            <div class="cell">
              <div class="cell-label">发货时间</div>
              <div class="cell-info">213123123</div>
            </div>
            <div class="cell">
              <div class="cell-label">完成时间</div>
              <div class="cell-info">3412412</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>
</div>
</div>
</div>

<?php $this->contact() ?>
