<?php $this->header() ?>

<link rel="stylesheet" href="/member/css/main.css">
<div class="ncc-wrapper">

  <div class="ncc-main">

    <div class="ncc-title">
      <h3>填写核对购物信息</h3>
      <h5>请仔细核对填写收货、发票等信息，以确保物流快递及时准确投递。</h5>
    </div>

    <form action="./index.php?c=user&m=doOrderCreate" method="post" name="order_create">
      <!--收货信息-->
      <div class="ncc-receipt-info">
        <div class="fui-content">
          <div class="list-group">
            <!--遍历收货地址-->
            <?php foreach($address  as $key => $value): ?>
            <label class="lists-list">
              <!--value 为 addressid-->
              <!--<option value="">-->
              <input type="radio" name="addressid" value="<?= $value['id'] ?>" <?= $value['defaults']==1?'checked':'' ?>
              >
              <div class="list-inner">
                <div class="title">
                  <span class="realname"><?= $value['realname'] ?></span>
                  <span class="mobile"><?= $value['tel'] ?></span>
                </div>
                <div class="text">
                  <span class="address">
                    <?= $value['address'] ?>
                  </span>
                </div>
              </div>
              <!--</option>-->
            </label>
            <?php endforeach ?>
          </div>
        </div>
      </div>

      <!--商品信息-->
      <div class="ncc-receipt-info">
        <div class="list-group">
          <!--遍历商品-->
          <?php foreach ($goods as $k => $v): ?>
          <div class="lists-list goods-item">
            <div class="list-media">
              <a href="./index.php?c=goods&m=detail&id=<?=$v['gid']?>">
                <img src="<?= imgUrl($v['icon']) ?>" alt="" class="round">
              </a>
            </div>

            <div class="list-inner">
              <a href="">
                <div class="text"></div>
                <div class="text"><?=$v['name']?></div>
              </a>
            </div>

            <div class="list-angle">
              <!--价格-->
              <span class="price">
                &yen;
                <span class="marketprice">
                    <?=$v['price']?>
                </span>
                <!--数量-->

              </span>
              <span class="total">

                  x<?= $v['quantity']?>
                </span>
            </div>

          </div>
          <?php

          $xj = $v['price'] * $v['quantity'];

          $sum += $xj;
          $count += $v['quantity'];
          ?>

          <?php endforeach ?>


          <!--商品统计-->
          <div class="cell-group">
            <div class="cell">
              <div class="cell-info" style="text-align: right">
                共: <span class="text-danger"><?= $count ?></span>
                件商品 合计:
                <span class="text-danger">&yen;
                  <span class="goodsprice">
                  <?= $sum ?>
                </span>
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!--TODO 以后做, 优惠券用-->
      <!--<div class="ncc-receipt-info"></div>-->
      <!--买家留言-->
      <div class="ncc-receipt-info cell-group sm">

        <div class="cell">
          <div class="cell-info">
            <input type="text" class="fui-input" placeholder="选填: 买家留言(50字以内)" maxlength="50">
          </div>
        </div>

      </div>

      <!--支付方式-->

      <div class="ncc-receipt-info">
        <div class="fui-content">
          <div>支付方式</div>
          <div class="list-group">
            <label class="lists-list">
              <!--value 为 addressid-->
              <!--<option value="">-->
              <input type="radio" name="payment_type" value="3">
              <div class="list-inner">
                <div class="title">
                  <span class="alipay">支付宝</span>
                </div>
              </div>
              <!--</option>-->
            </label>
            <label class="lists-list">
              <!--value 为 payment_type-->
              <!--<option value="">-->
              <input type="radio" name="payment_type" value="2">
              <div class="list-inner">
                <div class="title">
                  <span class="alipay">微信</span>
                </div>
              </div>
              <!--</option>-->
            </label>
            <label class="lists-list">
              <!--value 为 addressid-->
              <!--<option value="">-->
              <input type="radio" name="payment_type" checked value="1">
              <div class="list-inner">
                <div class="title">
                  <span class="alipay">货到付款</span>
                </div>
              </div>
              <!--</option>-->
            </label>

          </div>
        </div>
      </div>


      <!--统计支付-->
      <div class="cell-group sm">
        <div class="cell">
          <div class="cell-label">商品小计</div>
          <div class="cell-info"></div>
          <div class="cell-remark">
            &yen;
            <span class="goodsprice"><?= $sum ?></span>
          </div>
        </div>

        <div class="cell">
          <div class="cell-label">运费</div>
          <div class="cell-info"></div>
          <div class="cell-remark">
            &yen;
            <span class="goodsprice">0</span>
          </div>
        </div>

        <div class="fui-navbar order-create-checkout">
          <span class="nav-item">
            <span>需付
              <span class="text-danger">
              &yen;
                <span class="totalprice">
              <?= $sum ?>
                </span>
               </span>
            </span>
          </span>

          <span class="nav-item">
            <input type="submit" class="buybtn" value="立即支付">
          </span>
        </div>

      </div>

    </form>
  </div>
</div>

<?php $this->contact() ?>