<?php $this->header() ?>
<?php $this->nav() ?>
<?php $this->userIndex() ?>
<link rel="stylesheet" href="../css/main2.css">

<div class="member-right-container">
  <div class="member-right-content">
    <div class="tabmenu">
      <ul>
        <li><a href="">订单列表</a></li>
        <li><a href="">回收站</a></li>
      </ul>
    </div>

    <!--TODO 问老师-->
    <!--<form action="./index.php?c=user" method="get" class="order-search">-->

    <!--&lt;!&ndash;TODO 页面参数补充&ndash;&gt;-->

    <!--<table>-->
    <!--<tr>-->
    <!--<th>订单状态:</th>-->
    <!--<td class="order-status">-->
    <!--<select name="status" id="" style="width: 100px">-->
    <!--<option value="0" selected>所有订单</option>-->
    <!--<option value="1">-->
    <!--待付款-->
    <!--</option>-->
    <!--<option value="2">-->
    <!--待发货-->
    <!--</option>-->
    <!--<option value="3">-->
    <!--待收货-->
    <!--</option>-->
    <!--<option value="4">-->
    <!--退/换货中-->
    <!--</option>-->
    <!--<option value="5">-->
    <!--已退/换货-->
    <!--</option>-->
    <!--<option value="-1">-->
    <!--已取消-->
    <!--</option>-->
    <!--<option value="6">-->
    <!--已完成-->
    <!--</option>-->
    <!--</select>-->
    <!--</td>-->
    <!--<th>订单号</th>-->
    <!--<td style="width: 160px">-->
    <!--<input type="text" name="ordernum">-->
    <!--</td>-->
    <!--<td style="width: 70px;text-align: center">-->
    <!--<label class="submit-search">-->
    <!--<input type="submit" class="submit" name="serachorder"  value="搜索">-->
    <!--</label>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</form>-->

    <!--订单列表-->
    <div class="page-show-container">
      <div class="order-lists">
        <div class="content">
          <!--TODO 根据订单数量遍历 -->
          <?php if(empty($data)): ?>

          <?php else: ?>
          <?php foreach($data as $k => $v): ?>
          <div class="order-list-items ">
            <!--订单号-->
            <a href="./index.php?c=user&m=orderdetail&ordernum=<?= $k ?>">
              <div class="order-num">
                订单号: <?= $k ?>
              </div>
              <!--商品信息 根据商品数量遍历-->
              <?php foreach ($v as $key => $value): ?>
              <?php $count += $value['quantity'] ?>
              <div class="item-infos">
                <div class="item-infos-img">
                  <img src="<?= imgUrl($value['icon']) ?>" alt="">
                </div>
                <div class="item-infos-inner">
                  <div class="item-title">
                    <?= strip_tags($value['name']) ?>
                  </div>
                  <!--<div class="item-subtitle">-->
                  <!--300克-->
                  <!--</div>-->
                </div>
                <div class="item-infos-price">
                  <!--TODO 商品价格-->
                  <span class="marketprice">
                      &yen;<?= $value['price'] ?>
                    <br>
                    x<?= $value['quantity'] ?>
                  </span>
                </div>
              </div>

              <?php endforeach ?>

              <!--订单统计-->
              <div class="item-infos-total">
                <span class="status">
                  共: <?= $count ?>多少商品 实付:
                  <span>&yen;<?= $data[$k][0]['total'] ?></span>

                </span>
              </div>

              <!--TODO 根据订单状态 显示不同状态下的订单操作-->
              <!--删除订单-->
              <div class="delete-order">
                <a href="./index.php?c=user&m=orderdetail&ordernum=<?= $k ?>">
                  <div class="doDel">
                    查看详情
                  </div>
                </a>
                <?php if($data[$k][0]['status']==1): ?>
                <a href="./index.php?c=user&m=cancelOrder&ordernum=<?= $k ?>">
                  <div class="doDel">
                    取消订单
                  </div>
                </a>
                <a href="">
                  <div class="doDel">
                    支付订单
                  </div>
                </a>
                <?php elseif($data[$k][0]['status']==6 ||$data[$k][0]['status']==5 ): ?>
                <a href="./index.php?c=user&m=delOrderList&ordernum=<?= $k ?>">
                  <div class="doDel">
                    删除订单
                  </div>
                </a>
                <?php elseif($data[$k][0]['status']==2): ?>
                <a href="./index.php?c=user&m=orderList&ordernum=<?= $k ?>">
                  <div class="doDel">
                    待发货
                  </div>
                </a>
                <?php elseif($data[$k][0]['status']==3): ?>
                <a href="./index.php?c=user&m=doOrder&ordernum=<?= $k ?>">
                  <div class="doDel">
                    确认收货
                  </div>
                </a>
                <?php elseif($data[$k][0]['status']==4): ?>
                <a href="./index.php?c=user&m=orderList&ordernum=<?= $k ?>">
                  <div class="doDel">
                    退货中
                  </div>
                </a>
                <?php endif ?>
              </div>
            </a>
          </div>
          <?php endforeach ?>
          <?php endif ?>
        </div>
      </div>
    </div>

    <!--订单页数-->
    <div class="page-num-container">
      <ul>
        <?php if(!empty($data)): ?>
        <?= $page->showPage() ?>
        <?php endif ?>
      </ul>
    </div>

  </div>
</div>
</div>
</div>

<?php $this->footer() ?>
<?php $this->contact() ?>
