<?php $this->header() ?>


<div class="nc-register-bg">
  <div class="nc-register-box">
    <div class="nc-register-layout">

      <!--左侧-->
      <div class="left">

        <div class="nc-register-mode">

          <ul class="tabs-nav">
            <li>
              <a class="tabulous_active">
                立即注册
              </a>
            </li>
          </ul>

          <div class="tabs-container" style="height: 387px;">
            <div class="tabs-content" style="position: absolute; top: 0;">
              <form action="./index.php?c=user&m=doRegister" method="post" name="register" id="register_form"
                    class="nc-login-form">

                <dl>
                  <dt>手机号:</dt>
                  <dd>
                    <input type="text" class="text" name="mobile" placeholder="您的账号,请填写手机号">
                  </dd>
                </dl>

                <!--TODO 手机验证码-->
                <!--<div class="code-div"></div>-->
                <!--<div class="tiptext"></div>-->

                <dl>
                  <dt>设置密码:</dt>
                  <dd>
                    <input type="password" class="text" name="pwd" placeholder="6-20个大小写字母或数字">
                  </dd>
                </dl>

                <dl>
                  <dt>确认密码:</dt>
                  <dd>
                    <input type="password" class="text" name="repwd" placeholder="请重新输入密码">
                  </dd>
                </dl>

                <div class="submit-div">
                  <div class="submit" style="text-align: center;line-height: 42px;">
                    <input type="submit" value="立即注册">
                  </div>
                  <a href="" class="account-login-link">忘记密码</a>
                </div>
              </form>
            </div>
          </div>

        </div>

      </div>

      <!--右侧-->
      <div class="right">
        <div class="register-after">
          <h4>注册之后您可以</h4>
          <ol>
            <li class="ico">购买商品支付订单</li>
            <li class="ico">收藏商品关注店铺</li>
            <li class="ico">安全交易诚信无忧</li>
            <li class="ico">积分获取优惠购物</li>
            <li class="ico">会员等级享受特权</li>
            <li class="ico">评价晒单站外分享</li>
          </ol>
        </div>

      </div>
    </div>
  </div>
</div>


<?php $this->footer() ?>
<?php $this->contact() ?>
